.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1rem;

  &__button {
    width: 30px;
    height: 30px;
    margin: 0 1rem;
    background: lightgray;
  }

  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;

    .list-item {
      list-style: none;
      margin: 1rem;

      &__link {
        border: none;
        padding: 1rem;
        background: #cd3238;
        border-radius: 100%;
        width: 50px;
        height: 50px;
        font-weight: bold;
        border: black 2px solid;

        &:hover {
          cursor: pointer;
        }

        &--active {
          background: #e95358;
        }
      }
    }
  }
}
