@import "main.scss";

body {
  margin: 0;
}

.App {
  @include for-phone-only {
    .navbar {
      order: -3;
    }

    .search-bar {
      order: -2;
    }

    .pagination {
      order: -1;
      margin-bottom: 1rem;
    }
  }

  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
}
